@model Employee

@{
    ViewBag.Title = "Delete Employee";
}

<form enctype="multipart/form-data" asp-controller="home" asp-action="delete" method="post" class="mt-3">
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-danger" style="width:auto;">Confirm Delete</button>
            <a asp-action="index" asp-controller="home" class="btn btn-primary">Cancel</a>
        </div>
    </div>    
</form>
