@model Employee

@{
    ViewBag.Title = "Delete Employee";
}

<form enctype="multipart/form-data" asp-controller="home" asp-action="delete" method="post" class="mt-3">
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto;">Confirm Delete</button>
        </div>
    </div>    
</form>
