@model IEnumerable<EmployeeManagment.Models.Employee>

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        body {
            font-size: larger;
        }

        table {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
        }

        td {
            width: 175px;
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Email</td>
                    <td>@employee.Department</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>