<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-size: larger;
        }

        table {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
        }

        td {
            width: 175px;
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("Details", required: false)
    </div>
</body>
</html>
